@{
  Layout = "_Layout";
}

<ul>
  @foreach (var item in Model)
  {
    <li>@item.GetStreet()</li>
    <li>@item.GetCity() @item.GetState() @item.GetZipcode()
      <li>
      @Html.ActionLink("Update", "Update", new { id=@item.GetId() })
      @Html.ActionLink("Delete", "Delete", new { id=@item.GetId() })
      </li>
    </li>
  }
</ul>
